:root {
  font-family: "Inter", sans-serif;
  line-height: 16px;
  font-weight: 500;
  /* color-scheme: light dark; */
  color: #FFEDED;
  background-color: #1A0A12;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #FFEDED;
  text-decoration: inherit;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

ul {
  list-style: none;
}

li {
  list-style: none;
}
